<ol>

    {% for post in posts %}
        {{ post.id }}
        <h1>nklnervkmnermvnevnemvnerc</h1>
    {% for e in comments %}
        {{ e.id}}
       {{ e.content }}

{% endfor %}
    {% endfor %}
</ol>